html {
    font-size: 24.15458937198068vw;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

body #backgound {
    height: 100%;
    filter: url(backgound.svg#blur);
    -webkit-filter: blur(0.10rem);
    -moz-filter: blur(0.10rem);
    -ms-filter: blur(0.10rem);
    filter: blur(0.10rem);
    position: relative;
    z-index: 1;
}
@keyframes rotate-disk {
    100% {
        transform: rotateZ(360deg);
    }
}
#big {
    width: 2.85rem;
    height: 2.85rem;
    position: absolute;
    top: 1.5rem;
    z-index: 99;
    margin-left: .645rem;
    background: url(./img/2.jpg) no-repeat .5rem .5rem;
    background-size: 65%;
    animation: rotate-disk 20s infinite normal linear;
    animation-play-state: paused;
}

#big img {
    width: 100%;
}

#button {
    position: absolute;
    z-index: 999;
    width: .65rem;
    height: .65rem;
    left: 1.8rem;
    top: 2.6rem;
}

#button img {
    width: 100%;
}

#pause {
    position: absolute;
    top: .6rem;
    left: 1.9rem;
    z-index: 999;
    width: 1rem;
    height: 1.45rem;
}

#pause img {
    width: 100%;
}
.process{
    position: absolute;
    z-index: 999;
    top: 5rem;
    left: .35rem;
}
.process .process-bar {
    position: absolute;
    left: 0.36rem;
    width: 2.80rem;
    margin-top: 0.05rem;
    background-color: #615D5C;
}

.process-bar .rdy {
    background-color: #B1ADAC;
    height: 0.02rem;
}

.process-bar .cur {
    background-color: #FB0D0D;
    height: 0.02rem;
    position: absolute;
    top: 0;
    left: 0;
}

.cur .process-btn {
    cursor: pointer;
    background-image: url(./img/process_btn.png);
    background-size: cover;
    position: absolute;
    top: -0.09rem;
    right: -0.13rem;
    width: 0.22rem;
    height: 0.22rem;
    margin-left: -0.11rem;
}
#currentTime{
    font-size: .17rem;
    color: white;
}
#totalTime{
    font-size: .17rem;
    color: white;
    position: relative;
    left: 2.6rem;
}
